.page-header{
    height:200px;
    background-color: #d00000;
    background-size: cover;
}
.page-header h2{
    text-align: center;
    padding-inline: 50px;
}
.site-name{
    flex: 3;
}
.page-content{
    padding: 10px;
}
.carousel-item img{
    height: 1000px;
}
.marines:hover{
    background-image: url("https://cs8.pikabu.ru/post_img/big/2017/07/27/10/150117788717976237.jpg");
    transition: 2s;
}
